doctypehtml
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Superposilka
		link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
		link(rel='icon', href='favicon.ico', type='image/x-icon')
		link(rel='stylesheet', href='css/main.css')
	body
		.header
			.wrapper
				.authorize
					a(class="authorize__item" href="#" title="Вход в личный кабинет") Войти
					span  |
					a(class="authorize__item" href="#" title="Регистрация нового пользователя") Регистрация
				.row
					.col
						a(class="logo" href="index.html" title="")
							span(class="logo__title") superposilka
							span(class="logo__describe") Онлайн-сервис доставк
					.col
						.phones.grey-bg
							.phones__item
								span(class="country country_ico") Москва:
								a(class="number" href="tel:+784872315004") 8(4872) 31-50-04
							.phones__item
								span(class="country") Украина:
								a(class="number" href="tel:+380993072323") 0993072323;
								a(class="number" href="tel:+380676365151") 0676365151
					.col
						.messenger
							a(class="messenger__item messenger__item_icq" href="icq:message?uin=671399192") 671-399-192
							a(class="messenger__item messenger__item_skype" href="callto:superposilka") superposilka
							a(class="messenger__item messenger__item_mail" href="mailto:info@superposilka.com") info@superposilka.com
					.col
						.order
							a(class="order__btn" href="#")
								span Сделать заказ
							a(class="order__calc" href='#') Калькулятор заказа
					.col
						.naw
							.fake-menu
								.fake-menu__item
									a(class="menu-link" href="#") Главная
								.fake-menu__item_menu
									a(class="menu-link menu-link_menu" href="#" data-opener=1)
										span(class="burger")
											span(class="burger-line__1")
											span(class="burger-line__2")
											span(class="burger-line__3")
										| Меню
							ul(class="menu" data-open=1)
								li(class="menu__item")
									a(class="menu-link" href="#") Главная
								li(class="menu__item")
									a(class="menu-link" href="#") Услуги
								li(class="menu__item")
									a(class="menu-link" href="#") Хвасты
								li(class="menu__item")
									a(class="menu-link" href="#") Отзывы
								li(class="menu__item")
									a(class="menu-link" href="#") Помощь
								li(class="menu__item")
									a(class="menu-link" href="#") Контакты
								li(class="menu__item")
									a(class="menu-link" href="#") Mail forwarding
								li(class="menu__item")
									a(class="menu-link" href="#") Как это работает
				.row
					.col
						.slider
							ul#adaptive
								li
									.slide
										img(class="slide__img" src="img/slide-01.jpg")
										.slide__descr
											h3(class="slide-title") Доставляем прямо в руки
											p(class="slide-subtitle") Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточитьсяй текст мешает сосредоточиться
											a(href="#" class="slide-link") Подробнее
								li
									.slide
										img(class="slide__img" src="img/slide-02.jpg")
										.slide__descr
											h3(class="slide-title") Доставляем прямо в руки
											p(class="slide-subtitle") Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточитьсяй текст мешает сосредоточиться
											a(href="#" class="slide-link") Подробнее
				.row
					.col.grey-bg
						.partners
							a(class="partners__item" href="#")
								img(src="img/lewis.jpg")
							a(class="partners__item" href="#")
								img(src="img/play.jpg")
							a(class="partners__item" href="#")
								img(src="img/tesco.jpg")
							a(class="partners__item" href="#")
								img(src="img/walmart.jpg")
							a(class="partners__item" href="#")
								img(src="img/amazon.jpg")
							a(class="partners__item" href="#")
								img(src="img/dell.jpg")
							a(class="partners__item" href="#")
								img(src="img/ebay.jpg")
							a(class="partners__item" href="#")
								img(src="img/agros.jpg")
							a(class="partners__item" href="#")
								img(src="img/comet.jpg")
							a(class="partners__item" href="#")
								img(src="img/currys.jpg")








		script(src="js/main.js")